<!-- myproject/knowledgebase/templates/registration/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>

    <section class="login">
        <div class="container">
            <h2>Login to Your Account</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log in</button>
            </form>
        </div>
    </section>
</body>
</html>
